@import './normalize.scss';
@import './variables';


:export {
  primaryColor: $primary-color;
  primaryColor: $second-color;
}

body{
  background-color: $primary-color;
}
.body{
  overflow-y: hidden;
}

ul, li, h1, h2, h3, p, button {
  margin: 0;
  color: $second-color;
}