@import '../../scss/variables';

.background{
  // background-color: red;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100vw;

  span{
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: -150px;
    min-height: 40px;
    min-width: 40px;
    transform: translateY(-50px);
    background-color: #858585d8;
    
    border-radius: 20px;
    @include fadeInBackAnimation();
  }
}




